@model NewsAggregator.Models.ViewModels.News.NewsWithCommentsViewModel

@{
    ViewData["Title"] = "News Details";
}

<h1>@Model.Article</h1>


<img src="@Model.TitleImage" class="img-fluid" alt="Img">
<div>Категория: @Model.Category</div>

<div class="align-content-center">
    @Html.Raw(Model.Body)
</div>
@Model.PublicationDate

<div class="btn-group-vertical col-sm-12">
    @if (Model.IsAdmin)
    {

        <form method="post" asp-action="Delete" asp-controller="News" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-danger mb-3">Удалить новость</button>
        </form>

    }
    <a class="btn btn-light col-sm-12" href="@Model.Url">Читать в источнике</a>


    <a class="btn btn-light col-sm-12" asp-action="Index">Назад</a>

    <button id="comments-display-switcher" class="btn btn-light col-sm-12" onclick="toggleComments('@Model.Id')">Показать комментарии</button>
    <div class="container">
        <div id="comments-container" class="row">

        </div>
    </div>

</div>
@section Scripts
{
    <script src="~/js/comments.js"></script>
}