@model NewsAggregator.Models.ViewModels.News.NewsWithCommentsViewModel

@{
    ViewData["Title"] = "News Details";
}

<h1>@Model.Article</h1>


<img src="@Model.TitleImage" class="img-fluid" alt="Img">
<div>Категория: @Model.Category</div>

<div class="align-content-center">
    @Html.Raw(Model.Body)
</div>
@Model.PublicationDate

<div class="btn-group-vertical col-sm-12">
    <button class="btn btn-light col-sm-12">
        <a class="text-info" href="@Model.Url">Читать в источнике</a>
    </button>
    <button class="btn btn-light col-sm-12">
        <a class="text-info" asp-action="Index">Назад</a>
    </button>
    <button id="comments-display-switcher" class="btn btn-light col-sm-12" onclick="toggleComments('@Model.Id')">Показать комментарии</button>
    <div class="container">
        <div id="comments-container" class="row">
            
        </div>
    </div>

</div>
@section Scripts
{
    <script src="~/js/comments.js"></script>
}